name: vercel-deploy

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.2.2
    -  name: Cache node modules
       uses: actions/cache@v4.1.2
       with:
        path: node_modules
        key: ${{ runner.OS }}-build-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.OS }}-build-${{ env.cache-name }}-
          ${{ runner.OS }}-build-
          ${{ runner.OS }}-
    - uses: actions/setup-node@v4.0.4
      with:
         node-version: '18.x'
    - name: install vercel CLI
      run: yarn global add vercel
    - name: Deploy Project Vercel
      run: vercel deploy --prod --token=${{ secrets.VERCEL_TOKEN }}